<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>servlet.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>requestcheck</servlet-name>
        <jsp-file>DataPartnerUI/index.html</jsp-file>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestcheck</servlet-name>
        <url-pattern>/requestcheck</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RequestHandler</servlet-name>
        <servlet-class>servlet.RequestHandler</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestHandler</servlet-name>
        <url-pattern>/RequestHandler</url-pattern>
    </servlet-mapping>
</web-app>